<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			*{
				margin: 0;
				padding: 0;
			}
			html,body{
				height: 100%;
				padding: 24px;
				background: url(../images/body_bj.jpg);
			}
			#wrap{
				height: 260px;
				border: solid #ccc 1px;
				color: #7aa7b9;
			}
			#img{
				float: left;
				margin: 40px 120px;
			}
			h3{
				margin: 62px 0 42px;
				color: #4a87a0;
			}
		</style>
	</head>
	<body>
		<div id="wrap">
			<div id="img">
				<img width="180" src="../images/u=1253997031,2008068403&fm=27&gp=0.jpg"/>
			</div>
			<h3>商品添加失败,您添加的商品货号已存在。</h3>
			<h2>请根据左侧导航菜单继续操作。谢谢！</h2>
		</div>
	</body>
</html>
