<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/reset.css"/>
		<!-- 引入 echarts.js -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.0.4/echarts.min.js"></script>
		<style type="text/css">
			body{
			    background: url(../images/body_bj.jpg);
			    padding: 10px;
			    min-width: 773px;
			}
			h1{
			    border-bottom: 1px solid #ccc;
			    color: #333;
			    font-weight: normal;
			    padding: 7px 10px;
			    margin: 0 0 10px 0;
			    overflow: hidden;
			}
			h1>.span1{
			    color: #4c4c4c;
			    font-size: 18px;
			    font-weight: normal;
			}
			h1>.span1>a:hover{
				color: #eb8a3d;
				text-decoration: underline;
			}
			#main{
				width: 90%;
				min-height: 400px;
				padding: 87px 0 0 10%;
			}
		</style>
	</head>
	<body>
		<h1>
			<span class="span1 left">
				<a href="javascript:;">ECSHOP管理中心 </a>
			</span>
		</h1>
		<div id="main"></div>
	</body>
	<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '02月订单统计'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</html>
