<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>ECSHOP管理中心</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
	<frameset rows="118,*" framespacing="0" border="0">
		<frame src="top" />
		<frameset cols="198,*">
			<frame src="menu"/>
			<frame src="main"/>
		</frameset>
	</frameset>
</html>
