body,a{
	color: #666;
}
.w1200{
	width: 1200px;
	margin: 0 auto;
}
#header{
    width: 100%;
    height: auto;
    clear: both;
    background: url(../images/snow.jpg) center center no-repeat;
}
#top_nav{
	position: relative;
	height: 32px;
    line-height: 32px;
}
#search{
	height: 95px;
}
#search .logo{
	margin-top: 20px;
}
#search .shine{
	margin: 42px 0 0 28px;
}
#search .searchBtn{
    width: 272px;
    height: 32px;
    display: inline-block;
    overflow: hidden;
    margin-top: 26px;
}
#search .searchBtn input{
    width: 210px;
    height: 16px;
    border: none;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 0 7px 10px;
    margin: 0;
    float: left;
    display: block;
    border: 1px solid #feb8ae;
    border-right: 0;
 }
#search .searchBtn button{
    width: 51px;
    height: 32px;
    float: left;
    display: block;
    overflow: hidden;
    background: #feb8ae!important;
    color: #fff !important;
    line-height: 32px;
    border: 0;
    padding: 0;
}
#search>a{
 	background: url(../images/a_order.jpg) left center no-repeat;
    width: 132px;
    height: 32px;
    display: inline-block;
    margin-left: 13px;
    margin-top: 26px;
 }

#menu{
	position: relative;
	width: 100%;
    height: 36px;
    clear: both;
    background: #f6827a;
}
#menu a{
	display: inline-block;
    line-height: 36px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    padding: 0px 40px;
}
#menu a.on,#menu a:hover{
	background: url(../images/nav_repeat_x.jpg) repeat-x;
}
#detail{
	overflow: hidden;
	margin-bottom: 12px;
}
#detail .title{
	line-height: 52px;
}
#detail .fenlei{
	width: 20%;
}
#detail .fenlei>img{
	width: 100%;
}
#detail .main{
	width: 79%;
}
#detail .main .goodsImg{
    border: 1px solid #f5f5f5;
    margin-right: 20px;
}

#info{
	width: 564px;
}
#info h1{
	padding-bottom: 14px;
	margin-bottom: 12px;
	border-bottom: 1px solid #ccc;
}
#info>div{
	line-height: 34px;
	padding-left: 12px;
}
#price{
    font-family: 'Arial';
    font-size: 18px;
    color: #ff8a81;
    font-weight: bold;
}

#info>div#shopCar{
	margin-top: 14px;
	padding: 0;
}
#shopCar>img{
	width: 100%;
}

#footer{
	background: #fdf2ec;
}
